@import "./general/block";

body {
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    box-sizing: border-box;

}

html {
    font-size: 16px;

    @media (max-width: 768px) {
        font-size: 16px;
    }

    @media (max-width: 320px) {
        font-size: 14px;
    }
}

@import "./sections/all"