.background-img {
	margin-bottom: 69px;

	@include for-size(phone) {
		margin-bottom: 42px;
	}
}

.background-img img {
	width: 100%;


	@include for-size(tablet) {
		width: 100%;
	}

	@include for-size(phone) {
		width: 100%;
	}
}

.posts-title {
	font-family: $primary-fonts;
	font-weight: 700;
	font-size: 1em;
	line-height: 1.3em;
	color: $title-color;
	text-transform: uppercase;
	margin-bottom: 24px;

	@include for-size(phone) {
		margin-bottom: 23px;
	}
}

.posts-content {
	@include flex(space-between);
	flex-wrap: wrap;
	margin-bottom: 37px;

	@include for-size(phone) {
		margin-bottom: 10px;
	}

	.posts-wrapper__img img {
		@include for-size(phone) {}
	}

	.posts-wrapper {
		@include flex;
		align-items: normal;
		max-width: 555px;
		margin-bottom: 32px;


		@include for-size(phone) {
			flex-direction: column;
			margin-bottom: 28px;
		}


		.posts-wrapper__info {
			margin-left: 20px;

			@include for-size(phone) {
				margin-left: 0;
			}



			.posts-wrapper__title {
				font-family: $primary-fonts;
				font-weight: 700;
				font-size: 1em;
				line-height: 1.9em;
				color: $title-color;
				text-transform: capitalize;
			}

			.posts-wrapper__subtitle {
				font-family: $primary-fonts;
				font-weight: 400;
				font-size: 0.7em;
				line-height: 1.2em;
				color: #7C7C7C;
				margin-bottom: 13px;
			}

			.posts-wrapper__text {
				font-family: $primary-fonts;
				font-weight: 400;
				font-size: 0.8em;
				line-height: 1.6em;
				color: #5C5C5C;

				@include for-size(phone) {
					display: none;
				}

			}
		}
	}
}

.shots {
	background-color: #f7f7f7;

	@include for-size(tablet) {
		width: 100%;
	}
}

.shots-wrapper {
	@include flex(space-between);
	padding-top: 47px;
	margin-bottom: 24px;

	@include for-size(phone) {
		padding-top: 38px;
		margin-bottom: 13px;
	}

	@include for-size(tablet) {
		width: 100%;
	}



	.shots-wrapper__title,
	.shots-wrapper__title-mobile {
		font-family: $primary-fonts;
		font-weight: 700;
		color: $title-color;
		font-size: 1em;
		line-height: 1.3em;
		text-transform: uppercase;
	}

	.shots-wrapper__title {
		@include for-size(phone) {
			display: none;
		}
	}

	.shots-wrapper__title-mobile {
		@include for-size(phone) {
			display: inline-block;
			font-size: 0.8em;
			line-height: 1.2em;
			margin-left: 25px;
		}
	}

	@media screen and (min-width: 321px) {
		.shots-wrapper__title-mobile {
			display: none;
		}
	}

	.shots-wrapper__title-page-inst {
		font-family: $primary-fonts;
		font-weight: 700;
		color: $title-color;
		font-size: 0.7em;
		line-height: 1.3em;
		text-transform: uppercase;

		@include for-size(phone) {
			display: none;
		}
	}
}


.shots-content {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 10px;
	align-items: center;
	padding-bottom: 49px;

	@include for-size(tablet) {
		grid-template-columns: repeat(3, 1fr);
	}

	@include for-size(phone) {
		grid-template-columns: 1fr;
		margin-left: 25px;
		margin-right: 47px;
		padding-bottom: 42px;
	}

	.shots-content__item img {
		max-width: 100%;
	}


	@include for-size(tablet) {
		.shots-content__item:last-child {
			display: none;
		}
	}

	@include for-size(phone) {
		.shots-content__item:not(:nth-child(1)) {
			display: none;
		}
	}
}

.header,
.posts,
.background-img {
	@media (max-width: 768px) {
		margin-inline: 80px
	}

	@media (max-width: 320px) {
		margin-inline: 25px
	}
}