.footer {
	@include flex;
	flex-direction: column;
	background-color: $footer-background;

	.footer-content {
		@include flex(center, center);
		flex-direction: column;
		text-align: center;
		max-width: 684px;

		@include for-size(phone) {
			max-width: 373px;
			margin-inline: 35px;
		}

		.footer-title {
			font-family: $primary-fonts;
			font-weight: 700;
			color: #FEFEFE;
			font-size: 1em;
			line-height: 1.3em;
			text-transform: uppercase;
			margin-top: 66px;
			margin-bottom: 22px;

			@include for-size(phone) {
				margin-bottom: 8px;
			}
		}

		.footer-subtitle {
			font-family: $primary-fonts;
			font-weight: 400;
			color: #B9B9B9;
			font-size: 1em;
			line-height: 1.7em;
			margin-bottom: 37px;

			@include for-size(phone) {
				text-align: center;
				margin-bottom: 26px;
			}
		}

		.footer-subtitle span {
			@include for-size(phone) {
				display: none;
			}
		}

		.footer-icons {
			margin-bottom: 45px;

			@include for-size(phone) {
				margin-bottom: 25px;
			}
		}

		.footer-contacts {
			font-family: $primary-fonts;
			font-weight: 400;
			color: #B9B9B9;
			font-size: 1em;
			line-height: 1.6em;
			margin-bottom: 70px;

			@include for-size(phone) {
				text-align: center;
			}
		}
	}
}