.header {
	@include flex;
	margin-top: 29px;
	margin-bottom: 34px;

	@include for-size(tablet) {
		max-width: 940px;
		margin-top: 23px;
		margin-bottom: 28px
	}

	@media (max-width:767px) {
		@include flex(flex-end);
		position: relative;
	}
}

.nav {
	@media (max-width:767px) {
		position: absolute;
		right: 0;
		top: 37px;
		opacity: 0;
		pointer-events: none;
		background-color: #F5F5F5;
	}

	@include for-size(phone) {
		right: -0.4px;
		top: 37px;
	}

	.nav__list {
		@include flex(center, center);
		padding: 16px 0;

		@media (max-width:767px) {
			flex-direction: column;
			align-items: flex-start;
			row-gap: 5px;
			width: 100%;
		}

		.nav__list-item {
			padding-right: 68px;

			@include for-size(tablet) {
				padding-right: 32px;
			}

			@media (max-width:767px) {
				padding-right: 34px;
				width: 94%;
			}
		}

		.nav__list-item:last-child {
			padding-right: 0;
		}

		.nav__list-item-link {
			display: inline-block;
			font-family: $primary-fonts;
			font-weight: 400;
			font-size: 0.68em;
			line-height: 1.3em;
			letter-spacing: 1.1px;
			text-decoration: none;
			text-transform: uppercase;
			color: $title-color;

			@media (max-width:767px) {
				width: 100%;
				padding-left: 0.8em;

				.nav__list-item-link:focus {
					background-color: #d6d6d6d0;
				}

				.nav__list-item-link:active {
					color: #57a4a4;
				}
			}
		}

		.nav__list-item-link:hover {
			color: #57A4A4;
			transition: .2s ease-in-out;
		}
	}
}

.header__burger {
	@include flex;
	flex-direction: column;
	cursor: pointer;
	background-color: black;
	height: 37px;
	width: 44px;
	display: none;

	@media (max-width:767px) {
		@include flex;
	}
}

.header__burger-line {
	position: relative;
	display: block;
	width: 17px;
	height: 2px;
	background: white;
	transition: all .5s ease-in-out;


	&:before,
	&:after {
		position: absolute;
		background: white;
		content: "";
		width: 17px;
		height: 2px;
		transition: all .5s ease-in-out;
	}

	&:before {
		top: -4px;
	}

	&:after {
		top: 4px;
	}
}

.nav.active {
	opacity: 1;
	pointer-events: all;
}

.header__burger-line.close {
	background: transparent;

	&:before {
		transform: rotate(45deg) translate(4px, 4px);
	}

	&:after {
		transform: rotate(-45deg) translate(2px, -2px);
	}
}