.findIP {
    border: 4px rgb(126, 58, 143) solid;
    border-radius: 20px;
    background-color: rgb(108, 94, 240);
    font-family: sans-serif;
    font-size: 26px;
    font-weight: 800;
    line-height: 26px;
    padding: 12px;
    margin-top: 176px;
    margin-left: calc(50% - 55px);
    cursor: pointer;
}

.findIP:focus {
    outline: none;
}

.yourIP {
    margin-left: calc(50% - 55px);
}