@function rem($pixels, $context: 16px) {
	@if (unitless($pixels)) {
		$pixels: $pixels * 1px;
	}

	@if (unitless($context)) {
		$context: $context * 1px;
	}

	@return calc($pixels / $context) * 1rem;
}

@mixin flex($horizontal: center, $vertical: center) {
	display: flex;
	justify-content: $horizontal;
	align-items: $vertical;
}

@mixin pseudo($location: after, $content: '', $position: static) {
	@if ($position==absolute) {
		position: relative;
	}

	&::#{$location} {
		content: $content;
		position: $position;
		@content;
	}
}

@mixin font-face($font-family,
	$file-path,
	$weight: normal,
	$style: normal,
	$asset-pipeline: false) {
	@font-face {
		font-family: $font-family;
		font-weight: $weight;
		font-style: $style;
		src: url('#{$file-path}.woff2') format('woff2');
	}
}

@mixin for-size($size) {
	@if $size==phone {
		@media screen and (max-width:320px) {
			@content;
		}
	}

	@else if $size==tablet {
		@media screen and (max-width:768px) {
			@content;
		}
	}
}